.playinglist{
	li{
		padding:10px;
		overflow: hidden;
		border-bottom: dashed 1px #c9c9c9;
		img{
				float:left;
				width: 60px;
		}
		.content{
			overflow: hidden;
			padding:10px;
			h3{
				font-size: 16px;
			    line-height: 32px;
			    color: #000;
			}
			p{
				height: 24px;
			    line-height: 24px;
			    color: #8e8e8e;
			    font-size: 12px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    width: 100%;
			}
		}
		
	}
}