.detailContent{
	img{
		width: 100%;
	}
	h3{
		text-align: center;
	}
	p{
	    text-overflow: ellipsis;
	    margin-bottom: 80px;
	    padding-left: 20px;
	    padding-right: 20px;
	    color: #333;
	    font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
	}
}